/**
 * @file getlocations_leaflet.css
 * @author Bob Hutchinson http://drupal.org/user/52366
 * @copyright GNU GPL
 *
 * getlocations_gps css.
 *
 */
.getlocations_gps_throbber {
  margin-left: 4px;
  background-image: url('images/throbber.gif');
  background-position: 100% 2px;
}
.getlocations_gps_throbber_active {
  background-position: 100% -18px;
}
.getlocations_gps_throbber_inactive {
  background-position: 100% 2px;
}

